#page-experiences {

    .project-thumbnail {
        position: relative;
        width: 400px;
        height: 200px;
        overflow: hidden;
        text-align: end;
        border-radius: 20px;
        background-color: #FAF8F5;
    }

    .project-thumbnail:hover {
        background-color: #faf4ea;
    }

    .project-thumbnail-text {
        position: absolute;
        font-family: "zilla-slab", serif;
        color: #BE9B74;
        bottom: 24px;
        right: 32px;
    }

    .center-flexbox {
        justify-content: center;
    }

    .testimonial-card {
        position: relative;
        min-width: 700px;
        text-align: start;
        border-radius: 20px;
        padding: 32px;
        scroll-snap-align: start;
    }

    .scroll-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        width: 1040px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        gap: 20px;
    }


}