/* MAIN FICTOAN STYLES ====================================================== */
@import "fictoan-react/dist/index.css";

/* FONTS ==================================================================== */
@import "./fonts.css";

/* THEMES =================================================================== */
@import "./theme-light.css";
@import "./theme-dark.css";

/* GLOBAL RULES ///////////////////////////////////////////////////////////// */
div[data-theme-provider] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

article {
    flex: 1 0 auto;
}


h6 {
    font-weight: 600;
    font-size: 1.3rem;
}

p {
    font-size: 1.1rem;
}

.row-hide {
    overflow: hidden;
}

.links-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 40px;
}

.hero-heading {
    color: #242424;
    font-family: "zilla-slab", serif;
}

.overflow-left {
    display: flex;
    position: relative;
    left: -17vw;
}

.overflow-right {
    display: flex;
    position: relative;
    right: -18vw;
}

@media (max-width : 768px) {

    .hero-heading {
        margin-top: 0;
        margin-bottom: -20px;
    }
}