#page-home {
    .hero-heading {
        color: #242424;
        font-family: "zilla-slab", serif;
    }

    .overflow-left {
        display: flex;
        position: relative;
        left: -17vw;
    }

    .overflow-right {
        display: flex;
        position: relative;
        right: -18vw;
    }

    .category-thumbnail {
        position: relative;
        width: 25vh;
        height: 25vh;
        overflow: hidden;
        text-align: end;
        border-radius: 20px;
        background-color: #FAF8F5;
    }

    .category-thumbnail:hover {
        background-color: #faf4ea;
    }

    .category-thumbnail-text {
        position: absolute;
        font-family: "zilla-slab", serif;
        color: #BE9B74;
        bottom: 24px;
        right: 32px;
    }


}