#page-home {

    .category-thumbnail {
        position: relative;
        width: 25vh;
        height: 25vh;
        overflow: hidden;
        text-align: end;
        border-radius: 20px;
        background-color: #FAF8F5;
    }

    .category-thumbnail:hover {
        background-color: #faf4ea;
    }

    .category-thumbnail-text {
        position: absolute;
        font-family: "zilla-slab", serif;
        color: #BE9B74;
        bottom: 24px;
        right: 32px;
    }

    .testimonial-card {
        position: relative;
        min-width: 400px;
        height: 600px;
        border-radius: 20px;
        padding: 32px;
        scroll-snap-align: start;
    }

    .scroll-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        width: 1040px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        gap: 20px;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width: 768px) {
    .category-thumbnail {
        margin-top: 20px;
        display: flex;
    }

    .category-thumbnail svg {
        margin-top: -64px;
    }

    .category-thumbnail-text {
        font-size: 1.5rem;
    }

    .category-row {
        display: flex;
        flex-direction: column;
    }

    .scroll-container {
        gap: 10px;
        padding: 8px;
        width: 100%;
        scroll-snap-type: x mandatory;
        display: flex;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-padding-left: 6vw;
        scroll-padding-right: 6vw;
    }

    .scroll-container > * {
        scroll-snap-align: start;
        flex: 0 0 45%;
        max-width: 45%;
        min-width: 45%;
        flex-shrink: 0;
    }

    .platform-scroll-section {
        margin-left: 6vw;
        margin-right: 6vw;
        width: 90vw;
        overflow-x: visible;
        overflow-y: hidden;
    }

    .scroll-item {
        min-width: 100%;
    }

}