.theme-light {
  --font-sans-serif: "barlow", sans-serif;
  --font-serif: "IBM Plex Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;

  --heading-font: "zilla-slab";
  --heading-font-weight: 700;
}