.theme-light {
  --font-sans-serif: "barlow", sans-serif;
  --font-serif: "IBM Plex Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;

  --heading-font: "zilla-slab";
  --heading-font-weight: 700;
  --heading6-font-weight: 400;



  --heading-text-colour: #343537;
  --paragraph-text-colour: #343537;
  --card-border: none;
}