#site-header {
    height: 54px;
    border-bottom: 1px solid var(--slate-dark-30);
    padding-top: 24px;

    .nav-links {
        color: hsl(210, 6%, 40%);
        text-decoration: none;
        font-size: 1.1rem;
        padding-right: 40px;
        font-weight: 500;
    }

    .nav-links:hover {
        color: hsl(207, 10%, 17%);
    }

}

@media (max-width: 768px) {
    #site-header {
        padding-top: 12px;
        height: 48px;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .nav-icon {
        height: 32px;
        width: 32px;
        margin-bottom: 20px;
        margin-left: 32vw;
    }

    .nav-mobile {
        justify-content: space-between;
        margin-bottom: 10px;
    }
}