#page-more-about-me {

    .star {
        display: inline-block;
        transition: transform 4s ease-in-out;
    }

    .star:hover {
        transform: rotate(360deg);
    }

    .display-pic {
        width: 80%;
        height: auto;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    .testimonial-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .testimonial-card {
        width: 33vw;
        height: auto;
        border-radius: 20px;
        padding: 32px;

    }

    .brown-hr {
        border: none;
        height: 0.5px;
        background-color: #BE9B74;
        width: 68vw;
        margin: 0 auto;
    }


    .modules-card {
        position: relative;
        width: 16vw;
        height: 16vw;
        perspective: 1000px;
    }

    .card-inner {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 0.6s;
    }

    .modules-card:hover .card-inner {
        transform: rotateY(180deg);
    }

    .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: #F0F8FF;
        display: flex;
        justify-content: center;
        backface-visibility: hidden;
    }

    .card-front {
        background-color: #F4F8FB;
        display: flex;
        flex-direction: column;
        padding: 0 0 32px 32px;
        gap: 16px;
        justify-content: flex-end;
    }

    .card-front svg {
        flex-shrink: 0;
        width: 48px;
        height: 48px;
    }

    .card-back {
        background-color: #F4F8FB;
        transform: rotateY(180deg);
        padding: 20px;
        font-weight: 400;
    }

    .ways-of-working {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .resume-button {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        background-color: #242424;
        color: white;
        border-radius: 6px;
        transition: background-color 0.3s ease;
        font-size: 1rem;
        font-weight: 500;
    }

    .resume-button:hover {
        background-color: #404040 !important;
        color: white !important;
        box-shadow: 1px 1px 10px 0px #d1d1d1;
    }



    @media (min-width: 1200px) and (max-width: 1440px) {

        .modules-card {
            width: 15.5vw !important;
            height: 15.5vw !important;
        }

        .modules-card svg {
            width: 40px !important;
        }

        .card-front {
            padding: 0 20px 20px 20px;
        }

        .card-front h6 {
            font-size: 0.9rem;
        }

        .card-back .text-medium {
            font-size: 0.9rem;
        }

    }


        @media (min-width: 1025px) and (max-width: 1200px) {
        .ways-of-working {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between !important;
        }
        .modules-card {
            width: 17vw !important;
            height: 17vw !important;
        }

        .modules-card svg {
            width: 40px !important;
        }

        .card-front {
            padding: 0 20px 20px 20px;
        }

        .card-front h6 {
            font-size: 1rem;
        }

        .card-back .text-medium {
            font-size: 0.9rem;
        }
    }

        @media (min-width: 901px) and (max-width: 1025px) {
        .modules-card {
            width: 24vw !important;
            height: 24vw !important;
        }

        .modules-card svg {
            width: 44px !important;
        }

        .card-front {
            padding: 0 32px 32px 32px;
        }

        .card-front h6 {
            font-size: 1.2rem;
        }

        .card-back .text-medium {
            font-size: 1rem;
        }

    }

        @media (max-width: 768px) {

        .testimonial-grid {
            width: 100% !important;
            align-items: center !important;
            padding-left: 7vw;         /* remove inner padding */
            margin: 0 auto;
        }

        .testimonial-card {
            width: 80vw !important;   /* Take up most of screen */
            padding: 24px;
        }

        .modules-card {
            width: 40vw !important;
            height: 40vw !important;
        }

        .modules-card svg {
            width: 40px !important;
        }

        .card-front {
            padding: 0 20px 20px 20px;
        }

        .card-front h6 {
            font-size: 0.9rem;
        }

        .card-back .text-medium {
            font-size: 0.8rem;
        }

    }

}
