#site-footer {
    flex-shrink: 0;

    #footer-links {
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .footer-text {
        font-size: 1rem;
        color: hsl(210, 9%, 38%);
    }
}


@media (max-width: 600px) {
    .links-container {
        display: flex;
        justify-content: center;
        gap: 16px;
        width: 100%;
        margin-top: 20px;
    }

    .links-container a {
        display: block;
    }
}