#page-details {

    .star {
        display: inline-block;
        transition: transform 4s ease-in-out;
    }

    .star:hover {
        transform: rotate(360deg);
    }

    .display-pic {
        width: 80%;
        height: auto;
        border-radius: 40px;
        margin-bottom: 20px;
    }

    .testimonial-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .testimonial-card {
        width: 33vw;
        border-radius: 20px;
        padding: 32px;
    }

    .brown-hr {
        border: none;
        height: 0.5px;
        background-color: #BE9B74;
        width: 68vw;
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        .testimonial-grid {
            flex-direction: column; /* Force cards to stack vertically */
            align-items: center;     /* Center the cards horizontally */
        }

        .testimonial-card {
            width: 90% !important;   /* Take up most of screen */
            padding: 24px;
        }
    }

}
