#page-visual {

    .project-thumbnail {
        position: relative;
        width: 400px;
        height: 200px;
        overflow: hidden;
        text-align: end;
        border-radius: 20px;
        background-color: #FAF8F5;
    }

    .project-thumbnail:hover {
        background-color: #F8F0E2;
        box-shadow: 2px 2px 4px 2px #EFEFEF;
    }

    .project-thumbnail-text {
        position: absolute;
        font-family: "zilla-slab", serif;
        color: #BE9B74;
        bottom: 24px;
        right: 32px;
    }

    .center-flexbox {
        justify-content: center;
    }

}

@media (max-width: 768px) {

    .project-thumbnail {
        width: 350px !important;
    }

}
