.project-page {

    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
        width: 100%;
    }

    .image-item {
        width: 280px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .images-in-a-row {
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 24px;
        row-gap: 20px;
    }

    .responsive-row {
        display: flex;
    }

    .pointer-card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 176px;
        height: 290px;
        border-radius: 16px;
        background-color: #F8FAFC;
    }

    .hero-alignment {
        max-height: 450px;
    }

    .center-align-svg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .people-hero {
        display: "flex";
        justify-content: center;
    }

    .people-images {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .responsive-image {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .platform-scroll-section {
        overflow: hidden;
    }

    .scroll-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 16px;
        padding: 10px;
        width: 1000px;
        white-space: nowrap;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .scroll-item {
        border-radius: 16px;
        scroll-snap-align: start;
        min-width: 900px;
    }

    .please-respond {
        width: 100%;
        height: auto;
        max-width: 100%;
        object-fit: contain;
    }

    .brown-hr {
        border: none;
        height: 0.5px;
        background-color: #BE9B74;
        width: 68vw;
        margin: 0 auto;
    }


    .project-thumbnail-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .project-thumbnail {
        position: relative;
        width: 400px;
        height: 200px;
        overflow: hidden;
        text-align: end;
        border-radius: 20px;
        background-color: #FAF8F5;
    }

    .project-thumbnail:hover {
        background-color: #faf4ea;
    }

    .project-thumbnail-text {
        position: absolute;
        font-family: "zilla-slab", serif;
        color: #BE9B74;
        bottom: 24px;
        right: 32px;
    }

}

@media (max-width: 600px) {

    .hero-alignment {
        height: auto;
        transform: scale(0.7);
        margin-bottom: -30px;
        margin-top: -50px;
    }

    .credits {
        font-size: smaller;
        margin-left: 40px;
        margin-right: 40px;
    }

    .center-align-svg {
        align-items: center;
        justify-self: center;
        transform: scale(0.8);

    }

    .responsive-row {
        transform: scale(0.9);
        transform-origin: top;
    }

    .people-hero {
        transform: scale(3);
        margin-bottom: 50px;
        margin-top: -60px;
    }

    .people-images,
    .responsive-image {
        max-width: 90%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .images-in-a-row svg {
        max-width: 80%;
        height: auto;

    }

    .scroll-container {
        gap: 10px;
        padding: 8px;
        width: 100%;
    }

    .scroll-item {
        min-width: 100%;
    }

    .platform-scroll-section,
    .summary-section {
        margin-left: 6vw;
        margin-right: 6vw;
    }

    .please-respond {
        width: 50%;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }


}