.project-page {

    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
        width: 100%;
    }

    .image-item {
        width: 280px;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .images-in-a-row {
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 24px;
        row-gap: 20px;
    }

    .responsive-row {
        display: flex;
    }

    .pointer-card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 176px;
        height: 290px;
        border-radius: 16px;
        background-color: #F8FAFC;
    }

    .responsive-image {
        width: 100%;
        max-width: 1000px;
        height: auto;
    }

    .hero-alignment {
        height: 450px;
    }

    .center-align-svg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .people-hero {
        display: "flex";
        justify-content: "center";
    }

    .people-images {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}

@media (max-width: 600px) {
    .responsive-image {
        width: 90vw;
        margin: 0 auto;
        display: block;
    }

    .hero-alignment {
        width: auto;
        transform: scale(0.7);

    }

    .center-align-svg {
        align-items: center;
        justify-self: center;
        transform: scale(0.8);

    }

    .responsive-row {
        transform: scale(0.9);
        transform-origin: top;
    }

    .images-in-a-row svg {
        transform: scale(1.3);
        margin: 24px;
    }

    .people-hero {
        transform: scale(1.1);
        margin-bottom: 50px;
    }

    .people-images {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}